name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - "*.*.*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:

  swift-format:
    name: Swift Format
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6"

      - name: Install SwiftFormat
        run: |
          # Install SwiftFormat using Swift Package Manager directly without cloning
          git clone --depth=1 https://github.com/nicklockwood/SwiftFormat SwiftFormatTool
          cd SwiftFormatTool
          swift build -c release
          sudo cp .build/release/swiftformat /usr/local/bin/swiftformat
          cd ..
          rm -rf SwiftFormatTool

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run SwiftFormat and commit changes
        run: |
          swiftformat .
          git add .
          if ! git diff-index --quiet HEAD; then
            formatted_date=$(date -u +"%Y-%m-%d %H:%M:%S")
            git commit -m "Apply SwiftFormat changes by ${{ github.actor }} on ${formatted_date} UTC [skip ci]"
            git push
            echo "Formatting changes committed and pushed"
          else
            echo "No formatting changes needed"
          fi

  build-macos:
    name: Build SwiftPM
    needs: swift-format
    uses: oversizedev/GithubWorkflows/.github/workflows/build-swiftpm.yml@main
    with:
      package: OversizeAppStoreModels
      destination: platform=macOS,arch=arm64
    secrets: inherit
    
  build-linux:
    name: Build Linux
    needs: swift-format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6"

      - name: Build Swift package
        run: |
          swift build -c release

  bump:
    name: Bump version
    needs:
      - build-macos
      - build-linux
    if: github.ref == 'refs/heads/main'
    uses: oversizedev/GithubWorkflows/.github/workflows/bump.yml@main
    secrets: inherit

  release:
    name: Create Release
    if: github.ref != 'refs/heads/main' && startsWith(github.ref, 'refs/tags/')
    uses: oversizedev/GithubWorkflows/.github/workflows/release.yml@main
    secrets: inherit
